# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Generated folders
node_modules
dist
dist-ssr
mount
out
vectors
/.pnp
.pnp.js
.yarn/install-state.gz

# next.js
.next/
/out/
.vercel

# misc
.DS_Store
*.pem

# Shell scripts
*.sh

# Developer and other local configurations
*.local
*.dev
*.dev.*
*.development
.dev-configs
*.tsbuildinfo
next-env.d.ts

#environment
.env